:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
	--border-color: #878a8c;
	--empty-border-color: #d3d6da;
	--guessed-letter-color: #ffffff;
	--key-bg: #d3d6da;
	--text-color: #1a1a1b;

	--incorrect-bg: #787c7e;
	--game-end-bg: #151515;
	--correct-bg: #6aaa64;
	--misplaced-bg: #c8b458;

	--incorrect-shadow: #5a5b5c;
	--game-end-shadow: #151515;
	--correct-shadow: #548a4f;
	--misplaced-shadow: #96863e;
}

:root {
	--keyboard-height: 200px;
	--game-max-width: 500px;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: var(--font-color);
	background-color: var(--border-color);
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
