:root {
    --font-color: #e8e8e8;
    --bg-color: rgb(26, 26, 27);

	--popup-bg-color: rgb(41,43,43);

	--subtitle-color: rgb(102,102,102);
	--guessed-letter-color: #ffffff;

	--incorrect-bg: rgb(50,52,52);
	--game-end-bg: #000000;
	--correct-bg: rgb(58,139,56);
	--misplaced-bg: rgb(226,152,37);

	--incorrect-shadow: rgb(45,47,47);
	--game-end-shadow: #000000;
	--correct-shadow: rgb(52,125,50);
	--misplaced-shadow: rgb(199, 136, 35);

	--game-max-width: 500px;
}

*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,0.1);
	border-radius: 10px;
}

.flexx {
	display: flex;
	justify-content: center;
	align-items: center;
}

*::-webkit-scrollbar {
	width: 10px;
	background-color: rgba(0,0,0,0.1);
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}

.modal {
	background-color: var(--popup-bg-color);
	border-radius: 5px;
	/* border: 5px solid red; */
}

.help-button, .stats-button {
	-webkit-padding: 0.4em 0;
	padding: 0.7em;
	padding-left: 1em;
	padding-right: 1em;
	font-size: large;
	border: 0;
	user-select: none;
	/* text-transform: uppercase; */
	border-radius: 5px;
	color: var(--font-color);
	background-color: rgb(65, 65, 65);

	-webkit-tap-highlight-color: transparent;

	cursor: pointer;
	box-shadow: 0 4px var(--incorrect-bg);
}

.help-button:hover, .stats-button:hover {
	background-color: rgb(57, 57, 57);
}

.help-button:active, .stats-button:active {
	box-shadow: 0 2px var(--popup-bg-color);
	transform: translateY(3px);
}

/* [data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
} */

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif, 'Baloo Tamma 2';
}

/* label {
	display: block;
} */

.close {
	cursor: pointer;
}

/* input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
} */

/* button {
	color: var(--font-color);
	background-color: var(--border-color);
	outline: none;
} */

button:disabled {
	color: #999;
}

/* button:not(:disabled):active {
	background-color: #ddd;
} */

/* button:focus {
	border-color: #666;
} */
